crewai
crewai[tools]
langchain-openai
langchain-groq
google-generativeai
python-telegram-bot
deepgram-sdk
ibm-watson>=7.0.0
python-dotenv
requests
aiohttp
websocket-client
pydub
emoji
duckduckgo-search
pillow
